<%- include header.ejs %>

<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="container">
<% if (success)  { %>
<div><div class="alert alert-success" role="alert"><%=success %></div></div>
<% } %>
<% if (error)  { %>
<div><div class="alert alert-danger" role="alert"><%=error %></div></div>
<% } %>
<div class="row">
  <div class="col-lg-offset-4 col-lg-4 text-center">
    <h1>基 隆 港 務 消 防 隊</h1>
  </div>
</div>
<form class="form-signin" role="form" action="/login" method="post">
<label for="inputEmail" class=sr-only>使用者</label>
<input type="text" name="username" class="form-control" placeholder="使用者" required autofocus> <br />

<button class="btn btn-lg btn-primary btn-block" type=submit>登入</button>
</form>
</div>
<%- include footer.ejs %>
